.back1 {
  background-color: rgb(220, 227, 240);
  font-family: Arial, sans-serif;
}

.myHeader {
  background-color: rgb(246, 96, 121);
  font-size: 15px;
  height: 20px;
  color: black;
  display: flex;
}

.myFooter {
  background-color: rgb(246, 96, 121);
  height: 15px;
  display: flex;
}
