body {
  font-size: 16px;
}

.back1 {
  background-color: rgb(248, 187, 228);
  font-family: Arial, sans-serif;
}

.myHeader {
  background-color: rgb(246, 96, 121);
  color: black;
  min-width: 100%;
  display: flex;
  text-align: center;
}

.myFooter {
  background-color: rgb(248, 187, 228);
  display: flex;
}
